<!DOCTYPE html>
<html>

  <head>
    <title>Old Town Lanes</title>
  </head>

  <body>
    <h1>Old Town Lanes Lanes</h1>
    <h2>Welcome to Old Town Lanes - NOVA's Favorite Bowling Alley!</h2>
    <p>1250 King St., Alexandria, VA</p>
  </body>

</html>
